<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCMEp_6tN-1MnC_vLiNGrI4AlHcb-6kis</string>
	<key>GCM_SENDER_ID</key>
	<string>1019112019402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vule.frame.app.The-Frame</string>
	<key>PROJECT_ID</key>
	<string>theframeglobal-23ab4</string>
	<key>STORAGE_BUCKET</key>
	<string>theframeglobal-23ab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019112019402:ios:844f439bf77db8c4902b33</string>
	<key>DATABASE_URL</key>
	<string>https://theframeglobal-23ab4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>